@font-face {
    font-family: Inter;
    src: url(./resources/font/Inter.ttc);
}

@font-face {
    font-family: InterVariable;
    src: url(./resources/font/InterVariable.ttf);
}

@font-face {
    font-family: InterVariable-Italic;
    src: url(./resources/font/InterVariable-Italic.ttf);
}

* {
    font-family: Inter;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
    height: inherit;
    padding: 2rem;
    gap: 3rem;
    border-radius: 10px;
    background-color: #00000010;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.square {
    border: 1px solid black;
    box-shadow: 0 0 0 1px;
    height: 6.5rem;
    width: 6.5rem;
    text-align: center;
    font-size: 80px;
    cursor: pointer;
    user-select: none;
}

.ctrl-container {
    position: relative;
}

@media screen and (min-width: 640px) {
    #game-container {
        width: 40%;
    }

    .square {
        height: 9rem;
        width: 9rem;
    }
}